html {
  scroll-behavior: smooth;
}
body p{ font-family: sans-serif; font-style: normal;}
.dvd_fixed_slider { font-family: sans-serif; font-style: normal; }
.slide_text .title { font-size: 36px; color: #fff; line-height: 2.8125rem; font-weight: 700; background: #2E382E; text-align: center; padding: 6px;}
.slide_text .description { font-size: 1rem; color: #fff; line-height: 1.75; font-weight: 300; margin-bottom: 20px; background: #000; padding: 10px; }
.slide_text .button { font-size: 1rem; color: #333; line-height: 1; font-weight: 700; background: hsla(0,0%,100%,.82); }
.slide_text .button { text-align: center; padding: 14px 40px 12px; display: inline-block; background: #F05D23; color: #fff; }
.slide_dots_wheel a { font-size: .875rem; color: #fff; line-height: 1.2em; }

.slide_dots_wheel a:first-child .slide_dot,
.slide_dots_wheel a:hover       .slide_dot { background-color: #0078d4; }
.slide_dots_wheel .slide_dot { background-color: #fff; }
.logo{background: #0B1D51; color: #fff; padding: 10px; text-align: center; font-size: 40px; font-weight: 900;}
.VM{color: #F05D23; font-size: 18px; font-weight: 700;}
footer{background: #0B1D51; padding: 10px; color: #fff; text-align: center; font-size: 18px; font-weight: 700; border: 1px solid #ccc;}
/*--------------about--------------*/
.about-section{display: grid; grid-template-columns: repeat(3, 1fr); gap: 20px; margin: 40px 20px;}
.section-all{background: #E6E8E6; border: 4px solid #ccc; padding: 10px;opacity: 80%}
.about-main{padding: 20px;}
.about-main p,ul,li{opacity: 80%;}
.heading-about{color: #F05D23; font-weight: 700;}
.core{color: #F05D23; padding: 0 20px; margin-top: 50px; text-align: center; font-weight: 700;}
/*-------------services---------------*/
.services-list{display: grid; grid-template-columns: repeat(3, 1fr); gap: 20px; margin: 5%;}
.services-item{background: url('assets/service-item-bg.jpg'); opacity: 65%; color: #fff; border-top: 4px solid #F05D23;}
.services-item:hover{background: url('assets/service-item-bg.jpg'); opacity: 90%; color: #fff; border-bottom: 4px solid #F05D23; border-top: hidden; zoom: 150%;}
.item-symbol{font-size: 40px; display: grid; place-items: center; padding-top: 20px; color: #F05D23;}
.services-list h2{padding: 5%; text-align: center; font-size: 26px; font-weight: 700px;}
.award{width: 20%; height: 20%; display: block; margin-left: auto; margin-right: auto;}
.services-heading h1{text-align: center; font-size: 4em; margin-top: 20px; color: #F05D23; font-weight: 700;}
.services-heading p{text-align: center; font-size: 22px; opacity: 80%; background: #0B1D51; padding: 6px; color: #fff; border-bottom: 1px solid #F05D23;}
/*------------@media about ------------*/
@media screen and (max-width:600px){
  .about-section{grid-template-columns: 1fr;}
}
/*-----------------@media services---------------------*/
@media screen and (max-width: 600px){
  .services-list{grid-template-columns: 1fr;}
}
